.spacer {
  flex: 1;
}

.toolbar-row {
  justify-content: space-between;
  height: 100px;
}

.toolbar-button {
  margin-right: 10px;
  /* כאן אתה יכול להגדיר את הרווח בין הכפתורים */
}

mat-toolbar {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.426);
}
