<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <button mat-icon-button style="margin-right: 20px; height: 70px; width: 70px;" matTooltip="Github" (click)="navigateToGithub()">
      <img src="../../../../assets/logo.png" alt="github" style="height: 100%; width: 100%;">
    </button>
    
    <h1 style="margin-right: 20px;">Employee Management</h1>
    <div class="spacer"></div>
    <app-export-to-excel class="toolbar-button"></app-export-to-excel>
    <app-screenshot></app-screenshot>
  </mat-toolbar-row>
</mat-toolbar>

