<div class="form-container">
    <button mat-icon-button class="close-button" (click)="closeForm()" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
    <h2>Add New Employee</h2>
    <form [formGroup]="employeeForm" class="scrollable-form">
        <mat-form-field appearance="fill">
            <mat-label>ID Number</mat-label>
            <input matInput formControlName="idNumber" placeholder="Enter ID Number">
            <mat-error *ngIf="employeeForm.get('idNumber').hasError('required')">ID Number is required</mat-error>
            <mat-error *ngIf="employeeForm.get('idNumber').hasError('pattern')">ID Number is not valid</mat-error>

        </mat-form-field>

        <!-- First Name -->
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="Enter First Name">
            <mat-error *ngIf="employeeForm.get('firstName').hasError('required')">First Name is required</mat-error>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter Last Name">
            <mat-error *ngIf="employeeForm.get('lastName').hasError('required')">Last Name is required</mat-error>
        </mat-form-field>


        <!-- Gender -->
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" placeholder="Select Gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error *ngIf="employeeForm.get('gender').hasError('required')">Gender is required</mat-error>
        </mat-form-field>

        <!-- Date of Birth -->
        <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth" placeholder="Enter Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
            <mat-error *ngIf="employeeForm.get('dateOfBirth').hasError('required')">Date of Birth is
                required</mat-error>
        </mat-form-field>

        <!-- Start of Work Date -->
        <mat-form-field appearance="fill">
            <mat-label>Start of Work Date</mat-label>
            <input matInput [matDatepicker]="workStartDatePicker" formControlName="employmentStartDate"
                placeholder="Enter Start of Work Date">
            <mat-datepicker-toggle matSuffix [for]="workStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #workStartDatePicker></mat-datepicker>
            <mat-error *ngIf="employeeForm.get('employmentStartDate').hasError('required')">Start of Work Date is
                required</mat-error>
        </mat-form-field>

        <!-- positions -->
        <div formArrayName="positionsList">
            <mat-expansion-panel *ngFor="let position of positionsFormArray.controls; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Position {{ i + 1 }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div [formGroupName]="i" class="position-container">
                    <div class="position-form">
                        <mat-form-field appearance="fill" class="position-field">
                            <mat-label>Position</mat-label>
                            <mat-select formControlName="positionId" placeholder="Select Position" class="position-select">
                                <mat-option *ngFor="let pos of sortedPositions(); let i = index" [value]="pos.id" [disabled]="isPositionDisabled(pos.id, i)">
                                  {{ pos.name }}
                                </mat-option>
                                <mat-option value="other" (click)="openAddPositionDialog()">{{newPositionName }}</mat-option>
                              </mat-select>
                            <mat-error
                                *ngIf="positionsFormArray.controls[i].get('positionId').hasError('required')">Position
                                is
                                required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="position-field">
                            <mat-label>Entry Date</mat-label>
                            <input matInput [matDatepicker]="entryDatePicker" formControlName="entryDate"
                                placeholder="Enter Entry Date" class="position-input">
                            <mat-datepicker-toggle matSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #entryDatePicker></mat-datepicker>
                            <mat-error
                                *ngIf="positionsFormArray.controls[i].get('entryDate').hasError('required')">Entry
                                Date is required</mat-error>
                            <mat-error
                                *ngIf="positionsFormArray.controls[i].get('entryDate').hasError('entryDateInvalid')">Entry
                                Date must be greater than or equal to Employment Start Date
                            </mat-error>

                        </mat-form-field>

                        <mat-slide-toggle formControlName="isManagement" color="primary"
                            class="position-toggle">Administrative</mat-slide-toggle>

                        <button mat-icon-button color="warn" (click)="removePositionControl(i)"
                            *ngIf="positionsFormArray.length>1" class="position-delete-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>

        <button mat-icon-button color="primary" (click)="addPositionControl()" class="position-add-button"
            matTooltip="Add position">
            <mat-icon>add</mat-icon>
        </button>


        <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
            <button mat-button color="warn" type="button" (click)="cancel()" style="margin-right: 10px;">Cancel</button>
            <button mat-button color="primary" type="submit" (click)="submit()">Submit</button>
        </div>

    </form>
</div>